<footer>
  <hr>
  <ul class="list-inline social-icon">
    <li><a href="javascript:void(0)" style="color: #a1a1a1; cursor: default;"><i class="fa fa-facebook"></i></a>
    </li>
    <li><a href="https://twitter.com/jchobsononline" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li><a href="http://jchobsononline.ca/portfolio/index.html#contact"><i class="fa fa-envelope"></i></a>
    </li>
    <li><a href="https://ca.linkedin.com/in/johnchobson" target="_blank"><i class="fa fa-linkedin"></i></a>
    </li>
  </ul>
</footer>
