/* ------------------ ABOUT ------------------ */
#about {
  height: 100%;

}
.about {
  position: relative;
  text-align: center;

  .section-heading {
    background-color: $about-section-background;
    margin-bottom: 5px;
    right: 0;
    left: 0;
  }
  h2 {
    margin-top: 15px;
  }
  .section-content {
    font-weight: 300;
		text-align: left;
		padding: 10px 10px 10px 10px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

}
/* --------------------- */
/* SOCIAL NETWORK
/* --------------------- */

.social-icon {
  li {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;

    a {
      @include border-radius(50%);
      @include transition-property(background-color);
      @include transition-duration(0.2s);
      @include transition-timing-function(linear);

      display: block;
      width: 60px;
      height: 60px;
      font-size: 33px;
      line-height: 57px;
      text-align: center;
      background-color: $social-icons-background;
      color: $social-icons;
      border: 2px solid $social-icons-border;
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.26);

      &:hover {
        background-color: $social-icons-hover-background;
        color: $social-icons-hover;
      }
    }

  }
  @include max-screen($screen-xsmall) {
    width: 100%;
    text-align: center;

    li {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
