/* ------------------ GENERAL STYLES ------------------ */

@include font-face("brankic", font-files(
	"brankic.svg",
	"brankic.ttf",
	"brankic.woff"
	), "brankic.eot");

/* --------------------- */
/* NAVIGATION BAR
/* --------------------- */
.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	padding: 10px 15px;

	img {
		width: 74px;
		height: auto;
	}
}

.navbar,
.navbar.navbar-light {
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(linear);
}

.navbar-nav {

	padding: 10px 0;

	> li {
		margin: 0 10px;

		> a {
			@include transition-property(all);
			@include transition-duration(0.1s);
			@include transition-timing-function(ease-out);

			padding-left: 3px;
			padding-right: 3px;
			padding-top: 5px;
			padding-bottom: 5px;
			border-bottom: 2px solid rgba(#000, 0);
			font-size: 12px;
			color: $navbar-link;
			font-weight: 700;

			&:hover, &:focus {
				border-bottom: 2px solid $navbar-link-border;
				padding-bottom: 0;
				background-color: transparent;
			}
		}

		&.active {
			> a {
				border-bottom: 2px solid $navbar-link-active;
				padding-bottom: 0;
				background-color: transparent;
			}
		}
	}

	&.nav-text-light {
		background-color: transparent;
		> li {
			> a {
				color: $navbar-link;

				&:hover {
					border-bottom-color: $navbar-link-hover;
				}
			}

			&.active {
				> a {
					border-bottom-color: $navbar-link-active;
				}
			}
		}
	}
}

.navbar {
	@include border-radius(0);

	&.navbar-light {
		background-color: $navbar-alt-background;
		//border-bottom: 1px solid $navbar-alt-link-border;

		.navbar-nav.nav-text-light {
			> li {
				> a {
					color: $navbar-alt-link;

					@include max-screen($screen-small - 1px) {
						border-bottom: none;
						padding-top: 15px;
						padding-bottom: 15px;

						&:hover {
							color: #fff;
							text-decoration: none;
							padding-top: 15px;
							padding-bottom: 15px;
						}
					}

					&:hover {
						border-bottom-color: $navbar-alt-link-hover;
					}
				}

				&.active {
					> a {
						border-bottom-color: $navbar-alt-link-active;
					}
				}
			}
		}
	}
}

.navbar-toggle {
	background-color: $navbar-toggle-background;

	.icon-bar {
		background-color: $navbar-toggle-iconbar;
	}
}

@include max-screen($screen-small - 1px) {
	.navbar-collapse {
		background-color: $navbar-collapse-background;
	}
}


/* --------------------- */
/* BUTTONS
/* --------------------- */

.btn {
	//@include border-radius(0);
	@include transition-property(border-color);
	@include transition-duration(0.2s);
	@include transition-timing-function(linear);
}

.btn-lg {
	border-width: 6px;
}

.btn-sm {
	border-width: 3px;
}

.btn-xs {
	border-width: 2px;
}

.btn-info {
	color: $btn-info-text;
	background-color: $btn-info-background;
	border-color: $btn-info-border;

	&:hover, &:focus, &:active, &.active {
		background-color: $btn-info-background;
		border-color: darken($btn-info-border, 5%);
	}
}

.btn-primary {
	color: $btn-primary-text;
	background-color: $btn-primary-background;
	border-color: $btn-primary-border;

	&:hover, &:focus, &:active, &.active {
		background-color: $btn-primary-background;
		border-color: darken($btn-primary-border, 5%);
	}
}
/*
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: lighten($primary-accent-color, 10%);
	border-color: $primary-accent-color;

	&:hover, &:focus, &:active, &.active {
		background-color: lighten($primary-accent-color, 10%);
		border-color: $primary-accent-color;
	}

}
*/


/* --------------------- */
/* LINKS
/* --------------------- */

a {
	color: $link; //$primary-accent-color;

	&:hover,
	&:focus {
		color: $link-hover;  //($primary-accent-color, 10%);
		text-decoration: none;
	}
}

/* --------------------- */
/* SECTION
/* --------------------- */

.section {
	padding: 50px 0;  // adjusted from 70px;
}

.section-heading {
	text-align: center;
	margin-bottom: 50px;

	h2, p {
		font-family: $secondary-font-family;
	}

	h2 {
		font-size: 3em;
		color: $section-heading;
	}

	p {
		font-size: 1.5em;
		color: $section-subheading;
	}

	hr {
		@include inline-block;;

		width: 100px;
		border-top: 1px solid $section-heading;
	}
}

.section-content {
	width: 100%;
	background-color: $section-content-background;
	h3 {
		color: $section-content;
	}

	.sub-section {
		margin-top: 30px;
	}
}

/* --------------------- */
/* TOOLTIP
/* --------------------- */

.tooltip-inner {
	@include opacity(0.5);
}

.tooltip {
	&.top .tooltip-arrow,
	&.top-left .tooltip-arrow,
	&.top-right .tooltip-arrow,
	&.right .tooltip-arrow,
	&.left .tooltip-arrow,
	&.bottom .tooltip-arrow,
	&.bottom-left .tooltip-arrow,
	&.bottom-right .tooltip-arrow {
		@include opacity(0.5);
	}
}

/* --------------------- */
/* 3rd PARTY STYLES
/* --------------------- */

.wow {
	visibility: hidden;
}

body {
	#jpreLoader {
		left: 0 !important;
		width: 100%;
		height: 1px;
	}

	#jprePercentage {
		height: auto;
		top: -80px;
		font-size: 48px;
		font-weight: normal;
		font-family: $secondary-font-family;
		text-shadow: none;
		color: $jpreloader-percent;
	}

	#jpreOverlay {
		background-color: $jpreloader-overlay-background;
	}

	#jpreBar {
		@include box-shadow(none);

		background-image: none;
		background-color: $jpreloader-bar-background;
	}


}

.parsley-error-list {
	list-style-type: none;

	li {
		font-size: 12px;
		color: #d2322d;
	}
}
