<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- NAVBAR -->
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">
          <!-- <img src="assets/img/loop-logo-white.png" alt="Loop Logo" /> -->
          <h1 class="hide">Ryan J. Hobson | Portfolio</h1>
        </a>
      </div>
      <nav class="navbar-collapse collapse" id="main-nav" role="navigation">
        <ul class="nav navbar-nav nav-text-light">
          <li class="active"><a href="/index.html">BLOG HOME</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END NAVBAR -->

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <article class="post">
          {{ content }}
        </article>
        {% include related-posts.html %}
        {% include comments.html %}
      </div>
    </div>

    {% include footer.html %}
  </div>
  <!-- main container div -->

</body>

</html>
