<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- NAVBAR -->
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">
          <!-- <img src="assets/img/loop-logo-white.png" alt="Loop Logo" /> -->
          <h1 class="hide">Ryan J. Hobson | Portfolio</h1>
        </a>
      </div>
      <nav class="navbar-collapse collapse" id="main-nav" role="navigation">
        <ul class="nav navbar-nav navbar-right nav-text-light">
          <li class="active"><a href="../../index.html">HOME</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="../../index.html#about">ABOUT ME</a></li>
          <li><a href="../../index.html#services">EXPERIENCE</a></li>
          <li><a href="../../index.html#works">WORKS</a></li>
          <li><a href="../../index.html#contact">CONTACT ME</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END NAVBAR -->

  <div class="container">

    <div class="page-header">
      <h1>BLOG</h1>
      <h2>Ryan J. Hobson</h2>
    </div>

    {{ content }}

    {% include footer.html %}
  </div>
  <!-- main container div -->
  <script src="../../assets/js/jquery-2.1.0.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
</body>

</html>
